<div class="info-card-wrapper">
    <div class="card-badge">
        <span class="indicator"></span>
        <span class="indicator-pulse"></span>
        <span class="badge-text">Available for work</span>
    </div>
    <div class="info-card-img"></div>
    <span class="info-card-text">
        My inbox is always open. Whether you have a project in mind or just want to say "Hi", I would love to hear from
        you. Feel free to reach out, and I’ll get back to you as soon as possible!
    </span>
</div>