.contact-section {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    padding: 6rem 2rem;

    .contact-content {
        display: flex;
        gap: 4rem;
        justify-content: space-between;
        width: 100%;

        app-contact-form,
        app-info-card {
            width: 100%;
        }
    }
}

@media screen and (width <= 48rem) {
    .contact-section {
        .contact-content {
            gap: 2rem;
        }
    }
}

@media screen and (width <= 40rem) {
    .contact-section {
        padding: 4rem 1rem;

        .contact-content {
            flex-direction: column;
            gap: 4rem;
        }
    }
}