<section class="article-section">
    <nav class="article-header-nav">
        <a routerLink="/" class="back-link">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-arrow-left">
                <path d="m12 19-7-7 7-7" />
                <path d="M19 12H5" />
            </svg>
            Back to Main
        </a>
        <div class="badge-neutral"> {{ getCurrentYear() }} </div>
    </nav>
    <header class="article-header">
        <h2 class="article-title">Privacy Policy</h2>
        <span class="article-text">
            This Privacy Policy explains how personal data is collected, processed, and used when you visit this website
            and use the contact form. By using this website, you agree to the collection and use of information in
            accordance with this policy.
        </span>
    </header>
    <div class="article-links">
        <div class="divider"></div>
        <a routerLink="/legal-notice" class="article-link">
            Legal Notice
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-arrow-up-right">
                <path d="M7 7h10v10" />
                <path d="M7 17 17 7" />
            </svg>
        </a>
    </div>
    <div class="article-item">
        <h3 class="article-subtitle">Legal Basis for Processing</h3>
        <span class="article-text">
            The processing of your personal data is based on Art. 6 Abs. 1 lit. b DSGVO, as it is necessary to respond
            to your inquiry. If further processing is required to comply with legal obligations, it is based on Art. 6
            Abs. 1 lit. c DSGVO.
        </span>
    </div>
    <div class="article-item">
        <h3 class="article-subtitle">Collection and Use of Personal Data</h3>
        <span class="article-text">
            When you submit a message via the contact form, the following personal data is collected: your name, email
            address, and the content of your message. This data is used exclusively to respond to your inquiry and
            maintain communication with you. It is transmitted securely to my email address and stored only as long as
            necessary to fulfill the purpose of your request. Your data will not be used for marketing, nor shared with
            third parties, and will be deleted once the inquiry is resolved, unless legal retention requirements apply.
        </span>
    </div>
    <div class="article-item">
        <h3 class="article-subtitle">Data Security</h3>
        <span class="article-text">
            The contact form transmits your data directly to my email address. No personal data is stored on the website
            or in a database. While appropriate technical and organizational security measures are in place to protect
            your personal data, please be aware that email transmission may have security vulnerabilities. It is
            recommended not to include sensitive information in your message.
        </span>
    </div>
    <div class="article-item">
        <h3 class="article-subtitle">Preference Storage</h3>
        <span class="article-text">
            This website stores your theme preference (dark/light mode) using your browser’s local storage. This data is
            not transmitted to a server and does not use cookies. The stored preference allows the website to remember
            your selected theme upon revisits.
        </span>
    </div>
    <div class="article-item">
        <h3 class="article-subtitle">External Links</h3>
        <span class="article-text">
            This website may contain links to external websites. Please note that I have no control over the content or
            privacy policies of these third-party websites. I am not responsible for their compliance with data
            protection regulations.
        </span>
    </div>
    <div class="article-item">
        <h3 class="article-subtitle">IP-Management</h3>
        <span class="article-text">
            This website uses the services of IMPRESSUM-PRIVATSCHUTZ GmbH, Ludwig-Erhard-Str. 18, 20459 Hamburg,
            Germany, to securely and reliably manage incoming postal mail and provide a protected postal address for
            legal purposes. The use of this service is based on our legitimate interest in accordance with Art. 6(1)(f)
            GDPR. A data processing agreement has been established with IMPRESSUM-PRIVATSCHUTZ GmbH to ensure full
            compliance with German data protection laws.
        </span>
    </div>
    <div class="article-item">
        <h3 class="article-subtitle">User Rights</h3>
        <span class="article-text">
            Under applicable data protection laws (e.g., GDPR), you have the right to request access to, correction of,
            or deletion of your personal data. You may also object to the processing of your data or request data
            portability. If you wish to exercise these rights, please reach out via the contact form.
        </span>
    </div>
    <div class="article-item">
        <h3 class="article-subtitle">Changes to This Policy</h3>
        <span class="article-text">
            This Privacy Policy may be updated periodically to reflect changes in legal requirements or website
            functionality. The latest version will always be available on this website.
        </span>
    </div>

</section>