app-header {
    user-select: none;
    position: sticky;
    z-index: 100;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    height: 4.5rem;
    background-color: var(--backdrop);
    backdrop-filter: blur(.75rem);
    animation: fade-in-top-down 500ms ease-in-out;
}

.header-content {
    width: 100%;

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 80rem;
        height: 2.75rem;
        margin: 0 auto;
        padding: 0 2rem;
    }
}

.logo {
    font-family: 'Clash Display';
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text-primary);
    text-decoration: none;
}

.nav-menu {
    display: flex;
    gap: 2rem;
    font-size: 1rem;
    list-style: none;
}

.nav-item {
    position: relative;
    overflow: hidden;
}

.nav-link {
    position: relative;
    display: inline-block;
    font-weight: 400;
    color: var(--text-secondary);
    text-decoration: none;
}

.text-default,
.text-hover {
    transition: transform 300ms ease;
}

.text-default {
    transform: translateY(0) skewY(0);
    color: var(--text-secondary);
}

.nav-link.active-link {
    color: var(--text-primary);
}

.nav-link.active-link .text-default {
    color: var(--text-primary);
}

.hover-effect {
    position: relative;
    overflow: hidden;
    display: inline-flex;
}

.text-hover {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(120%) skewY(16deg);
    color: var(--text-primary);
}

.nav-item:hover .text-default {
    transform: translateY(-120%) skewY(16deg);
}

.nav-item:hover .text-hover {
    transform: translateY(0) skewY(0);
}

.active-link {
    display: flex;
    gap: .5rem;
    align-items: center;
    justify-content: center;
    color: var(--text-primary);
}

.active-link::before {
    content: "\00a0";
    width: 6px !important;
    height: 6px !important;
    border-radius: 50%;
    background-color: var(--primary);
}

.btn-theme #moon-icon {
    animation: dark-toggle-rotate 300ms ease-in-out;
}

.btn-theme #sun-icon {
    animation: light-toggle-rotate 300ms ease-in-out;
}

@media screen and (width <= 40rem) {
    app-header {
        padding: 0.75rem 0;
    }

    .header-content {
        nav {
            padding: 0 1rem;
        }
    }

    .nav-menu {
        display: none;
    }

    .btn-theme {
        border: 1px solid var(--bg-neutral-100);
        transition: none;
    }
}