app-header {
    position: sticky;
    top: 0;
    left: 0;
    padding: 1rem 0;
    background-color: var(--backdrop);
    backdrop-filter: blur(.75rem);
    z-index: 100;
    user-select: none;
    animation: fadeIn-top-down 500ms ease-in-out;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80rem;
    width: 100%;
    margin: 0 auto;
    height: 2.75rem;
    padding: 0 2rem;
}

.logo {
    font-family: 'Clash Display';
    font-size: 1.25rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--text-primary);
}

.nav-menu {
    display: flex;
    list-style: none;
    font-size: 1rem;
    gap: 2rem;
}

.nav-item {
    position: relative;
    overflow: hidden;
}

.nav-link {
    text-decoration: none;
    color: var(--text-secondary);
    font-weight: 400;
    display: inline-block;
    position: relative;
}

.nav-link.active-link {
    color: var(--text-primary);
}

.nav-link.active-link .text-default {
    color: var(--text-primary);
}

.hover-effect {
    display: inline-flex;
    overflow: hidden;
    position: relative;
}

.text-default,
.text-hover {
    transition: transform 0.5s ease;
}

.text-default {
    transform: translateY(0) skewY(0);
    color: var(--text-secondary);
}

.text-hover {
    transform: translateY(120%) skewY(16deg);
    color: var(--text-primary);
    position: absolute;
    top: 0;
    left: 0;
}

.nav-item:hover .text-default {
    transform: translateY(-120%) skewY(16deg);
}

.nav-item:hover .text-hover {
    transform: translateY(0) skewY(0);
}

.active-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    color: var(--text-primary);
}

.active-link:before {
    content: "\00a0";
    width: 6px !important;
    height: 6px !important;
    border-radius: 50%;
    background-color: var(--primary);
}

.btn-theme #moon-icon {
    animation: dark-toggle-rotate 500ms ease-in-out;
}


.btn-theme #sun-icon {
    animation: light-toggle-rotate 500ms ease-in-out;
}