.project-details {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: 100%;
    max-width: 64rem;
    margin: 0 auto;
    padding: 6rem 2rem;
    padding-bottom: 2rem;

    .project-title {
        font-family: 'Clash Display';
        font-size: 2.5rem;
        color: var(--text-primary);
        text-wrap: balance;
    }

    .project-subtitle {
        font-family: 'Clash Display';
        font-size: 1.5rem;
        color: var(--text-primary);
        text-wrap: balance;
    }

    .project-text {
        font-family: Satoshi;
        font-size: 1rem;
        line-height: 1.75;
        color: var(--text-secondary);
        text-wrap: pretty;
    }
}

@media screen and (width <= 40rem) {
    .project-details {
        padding: 4rem 1rem;
        padding-bottom: 2rem;
    }
}