// navbar animation
@keyframes fade-in-top-down {
    from {
        transform: translateY(-3rem);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

// dark mode animation
@keyframes dark-toggle-rotate {
    0% {
        transform: scale(.4) rotate(0deg);
    }

    100% {
        transform: scale(1) rotate(-360deg);
    }
}

// light mode animation
@keyframes light-toggle-rotate {
    0% {
        transform: scale(.4) rotate(0deg);
    }

    100% {
        transform: scale(1) rotate(180deg);
    }
}

// main content animation
@keyframes fade-in-main-content {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

// greeting icon animation
@keyframes greeting {
    0% {
        transform: rotate(0deg)
    }

    10% {
        transform: rotate(14deg)
    }

    20% {
        transform: rotate(-8deg)
    }

    30% {
        transform: rotate(14deg)
    }

    40% {
        transform: rotate(-4deg)
    }

    50% {
        transform: rotate(10deg)
    }

    60% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(0deg)
    }
}

// skillset marquee animation
@keyframes skillset-marquee {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}

// pulsing badge animation
@keyframes pulse {
    75%,
    100% {
        transform: scale(2);
        opacity: 0
    }
}

// draw border animation
@keyframes draw-border {
    from {
        --timer: 0%;
    }

    to {
        --timer: 100%;
    }
}

// loading spinner
@keyframes spinner {
    100% {
        transform: rotate(1turn)
    }
}