.article-header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .back-link {
        display: inline-flex;
        gap: 0.5rem;
        align-items: center;
        font-size: .875rem;
        color: var(--text-secondary);

        svg {
            width: 1.25rem;
            height: 1.25rem;
            color: var(--text-secondary);
            transition: none;
        }

        &:hover {
            color: var(--text-primary);

            svg {
                color: var(--text-primary);
                transition: none;
            }
        }
    }

    .badge-neutral {
        padding: .25rem .5rem;
        border: 1px solid var(--bg-neutral-100);
        border-radius: 9999rem;
        font-size: .875rem;
        color: var(--text-secondary);

        img {
            width: 1rem;
            height: 1rem;
        }
    }
}

.article-header {
    display: flex;
    flex-direction: column;
    gap: .75rem;
}

.article-links {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .divider {
        width: 100%;
        flex: 1;
        height: 1px;
        border-radius: 9999rem;
        background-color: var(--bg-neutral-200);
    }

    .article-link {
        user-select: none;
        display: inline-flex;
        gap: 0.5rem;
        align-items: center;
        width: max-content;
        font-size: 0.875rem;
        color: var(--text-secondary);
        text-transform: uppercase;

        svg {
            width: 1rem;
            height: 1rem;
            color: var(--text-secondary);
            transition: none;
        }

        &:hover {
            color: var(--text-primary);
        }

        &:hover svg {
            color: var(--text-primary);
            transition: none;
        }
    }
}

.article-item {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

@media screen and (width <= 40rem) {
    .article-section {
        padding: 4rem 1rem;
    }
}