::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    transition: all 500ms ease;
}

::-webkit-scrollbar-thumb {
    background-color: var(--bg-neutral-200);
    border: 2px solid var(--bg-base-100);
    border-radius: .75rem;
    cursor: pointer;
    transition: all 500ms ease;
}

@media (min-width: 640px) {
    ::-webkit-scrollbar {
        height: 12px;
        width: 12px;
    }
}