[data-theme="light"] {
    --bg-base-100: #f8f8f8;
    --bg-base-200: #fff;
    --bg-neutral-100: #e5e5e5;
    --bg-neutral-200: #d4d4d4;
    --bg-neutral-accent: #fff;
    --primary: #2bb990;
    --error: #ee2e55;
    --text-primary: #0a0a0a;
    --text-secondary: #333;
    --text-inverse: #f8f8f8;
    --backdrop: #f8f8f8ee;
}

[data-theme="dark"] {
    --bg-base-100: #0f0f0f;
    --bg-base-200: #131316;
    --bg-neutral-100: #1a1a21;
    --bg-neutral-200: #2a2a35;
    --bg-neutral-accent: #1a1a21;
    --primary: #2cc99c;
    --error: #c22c55;
    --text-primary: #e5e7eb;
    --text-secondary: #9ca3af;
    --text-inverse: #0f0f0f;
    --backdrop: #0f0f0fee;
}