<section class="skillset-section">
    <div class="marquee-wrapper">
        <div class="marquee-text">
            <div class="skill-item" *ngFor="let skill of skillSetList">
                <img [src]="skill.img" [alt]="skill.text">
                {{ skill.text }}
            </div>
        </div>
        <div class="marquee-text">
            <div class="skill-item" *ngFor="let skill of skillSetList">
                <img [src]="skill.img" [alt]="skill.text">
                {{ skill.text }}
            </div>
        </div>
    </div>
</section>
