<section class="profile-section">
    <div class="section-header">
        <span class="section-label">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-hash">
                <line x1="4" x2="20" y1="9" y2="9" />
                <line x1="4" x2="20" y1="15" y2="15" />
                <line x1="10" x2="8" y1="3" y2="21" />
                <line x1="16" x2="14" y1="3" y2="21" />
            </svg>
            About me
        </span>
        <h2 class="section-title">Know me better</h2>
    </div>
    <div class="aboutme">
        <div class="aboutme-content">
            <span class="aboutme-header">
                I'm a frontend developer based in <strong>[Location, Country]</strong>, passionate about building
                user-centric web applications that merge design and functionality. I specialize in turning complex ideas
                into elegant, user-friendly solutions.
            </span>
            <span class="aboutme-item">
                <div class="aboutme-item-marker">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-terminal">
                        <polyline points="4 17 10 11 4 5" />
                        <line x1="12" x2="20" y1="19" y2="19" />
                    </svg>
                </div>
                With hands-on experience across a range of projects - from sleek single-page apps to scalable platforms
                - I focus on writing clean, maintainable code and crafting seamless, user-friendly interfaces.
            </span>
            <span class="aboutme-item">
                <div class="aboutme-item-marker">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-terminal">
                        <polyline points="4 17 10 11 4 5" />
                        <line x1="12" x2="20" y1="19" y2="19" />
                    </svg>
                </div>
                For me, programming goes beyond just writing code. It’s about solving problems creatively and building
                scalable solutions that enhance user experiences. I'm constantly learning and exploring new technologies
                to refine my skills and elevate every project I work on.
            </span>
            <span class="aboutme-item">
                <div class="aboutme-item-marker">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-terminal">
                        <polyline points="4 17 10 11 4 5" />
                        <line x1="12" x2="20" y1="19" y2="19" />
                    </svg>
                </div>
                I’m adaptable to any work environment, thriving both in on-site teams and remote settings. While I enjoy
                the energy of in-person collaboration, I truly appreciate the focus and flexibility that remote work
                offers, allowing me to deliver high-quality results from virtually anywhere.
            </span>
        </div>
        <figure class="aboutme-graphics">IMG</figure>
    </div>
    <span class="aboutme-footer">
        Let’s build something great together!
    </span>
</section>