.profile-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    padding: 6rem 2rem;

    .aboutme {
        display: flex;
        gap: 2rem;
        justify-content: space-between;

        .aboutme-content {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            width: 50%;

            .aboutme-header {
                line-height: 1.5;
                color: var(--text-secondary);
                text-wrap: balance;
            }
        }

        .aboutme-img {
            display: flex;
            flex: 1;
            align-items: center;
            justify-content: center;
            width: 50%;
            border: 1px solid var(--bg-neutral-100);
            border-radius: 1.5rem;
        }
    }

    .aboutme-footer {
        line-height: 1.5;
        color: var(--text-secondary);
        text-wrap: balance;
    }
}

@media screen and (width <= 48rem) {
    .profile-section {
        .aboutme {
            flex-direction: column-reverse;

            .aboutme-content {
                width: 100%;

                .aboutme-header,
                .aboutme-item {
                    text-wrap: pretty;
                }
            }

            .aboutme-img {
                width: 100%;
            }
        }
    }
}

@media screen and (width <= 40rem) {
    .profile-section {
        padding: 4rem 1rem;
    }
}