.profile-accordion {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    .accordion-item {
        cursor: pointer;
        border: 1.5px solid var(--bg-neutral-100);
        border-radius: 1rem;
        background-color: var(--bg-base-200);
        transition: 300ms ease;

        .accordion-toggle {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 1rem;
            border: unset;
            border-radius: 1rem;
            background-color: unset;
            transition: 300ms ease;

            svg {
                width: 1.25rem;
                height: 1.25rem;
                color: var(--text-primary);
                transition: transform 300ms ease;
            }

            svg.open {
                transform: rotate(180deg);
            }

            .accordion-content {
                display: flex;
                gap: 1rem;
                align-items: center;

                .accordion-icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    svg {
                        width: 1.5rem;
                        height: 1.5rem;
                        color: var(--primary);
                    }
                }

                .accordion-title {
                    font-family: Satoshi;
                    font-size: 1rem;
                    font-weight: 500;
                    color: var(--text-primary);
                }
            }
        }

        .accordion-answer {
            overflow: hidden;
            max-height: 0;
            padding: 0 1rem;
            transition: max-height 300ms ease-in-out, padding 300ms ease-in-out;

            &.open {
                max-height: 20rem;
                padding: 0 1rem 1rem;
            }

            &:hover {
                cursor: auto;
            }

            .accordion-answer-text {
                font-family: Satoshi;
                font-size: 1rem;
                line-height: 1.5;
                color: var(--text-secondary);
            }
        }
    }
}