.article-section {
    display: flex;
    flex-direction: column;
    padding: 6rem 2rem;
    max-width: 64rem;
    width: 100%;
    margin: 0 auto;
    gap: 4rem;
}

.contact-section {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    .contact-item {
        display: flex;
        align-items: center;
        gap: 1rem;

        svg {
            height: 1.25rem;
            width: 1.25rem;
            color: var(--text-secondary);
            stroke-width: 1.5;
            transition: none;
        }

        .contact-text {
            font-size: 1rem;
            font-family: 'Satoshi';
            color: var(--text-primary);
        }
    }
}

ul {
    list-style-type: disc;
    padding-inline-start: 1rem;
}

li {
    padding-inline-start: .375rem;
    line-height: 1.75;

    a {
        font-size: 1rem;
        font-family: 'Satoshi';
        color: var(--text-primary);
        font-weight: 600;
    }
}