.contact-form {
    width: 100%;

    form {
        user-select: none;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .input-field {
            display: flex;
            flex-direction: column;
            gap: 0.25rem;
        }

        .checkbox-field {
            display: flex;
            gap: 1rem;
            align-items: center;
            padding: 1rem 0.25rem 1.5rem;

            .link-primary {
                &:hover {
                    color: var(--primary);
                }
            }
        }

        .input-error {
            color: var(--error);
            opacity: 0;
            transition: opacity 300ms ease;
        }

        .submit-container {
            display: flex;
            justify-content: flex-start;
            width: 100%;
        }
    }
}

@media screen and (width <= 40rem) {
    .contact-form {
        form {
            .input-error {
                font-size: .875rem;
            }

            .submit-container {
                justify-content: center;
                margin: 1rem 0;
            }
        }
    }
}