.mobile-menu-content {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 4.5rem;
    z-index: 1000;
    background-color: var(--backdrop);
    backdrop-filter: blur(0.75rem);
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
    border: 1.5px solid var(--bg-neutral-100);
    border-bottom: unset;
    display: none;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 80rem;
        width: 100%;
        margin: 0 auto;
        padding: 0 1.5rem;
        gap: 1rem;

        .mobile-menu-link {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.5rem 1rem;
            gap: 0.25rem;
            border: unset;
            border-radius: unset;
            font-family: 'Satoshi';
            font-size: 0.875rem;
            font-weight: 500;
            color: var(--text-secondary);
            transition: none;
        }

        .active-mobile-link {
            border: 1px solid var(--primary);
            border-radius: 9999rem;
            color: var(--primary);
            transition: none;
        }
    }
}

@media screen and (max-width: 40rem) {
    .mobile-menu-content {
        display: flex;
    }
}