@use "./styles/variables";
@use "./styles/fonts";
@use "./styles/animations";
@use "./styles/buttons";
@use "./styles/scrollbar";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 300ms ease;
}

::selection {
    color: var(--text-inverse);
    background-color: var(--primary);
}

html {
    overflow-y: scroll;
    scroll-behavior: smooth;
    overscroll-behavior: none;
}

body {
    text-rendering: optimizelegibility;
    background-color: var(--bg-base-100);
}

app-root {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100dvh;
    font-family: Satoshi, sans-serif;
    color: var(--text-secondary);
    background-color: var(--bg-base-100);
}

app-about,
app-projects,
app-contact,
app-legal-notice,
app-privacy-policy,
app-brizzle-bash,
app-delivery-service,
app-join,
app-pokedex {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: var(--bg-base-100);
    animation: fade-in-main-content 1000ms ease-in-out;
    will-change: transform;
}