@use "./styles/variables";
@use "./styles/scrollbar";
@use "./styles/fonts";
@use "./styles/buttons";
@use "./styles/inputs";
@use "./styles/animations";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 500ms ease;
}

::selection {
    background-color: var(--primary);
    color: var(--text-inverse);
}

html,
body {
    scroll-behavior: smooth;
    overscroll-behavior: none;
    will-change: scroll-position;
    text-rendering: optimizeLegibility;
    background-color: var(--bg-base-100);
}

app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
    background-color: var(--bg-base-100);
    font-family: 'Satoshi', sans-serif;
    color: var(--text-secondary);
}

app-about,
app-projects,
app-contact {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-base-100);
    flex: 1;
    animation: fadeIn-main-content 1000ms ease-in-out;
}

.section-header {
    display: flex;
    flex-direction: column;
    gap: .75rem;
}