.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 80rem;
    width: 100%;
    margin: 0 auto;
    padding: 1rem 2rem;
    padding-bottom: 2rem;
    font-size: .875rem;
    animation: fadeIn-main-content 1000ms ease-in-out;

    .footer-links {
        display: flex;
        align-items: center;
        gap: 1rem;

        .footer-link {
            display: inline-flex;
            align-items: center;
            gap: 0.5rem;
            font-size: 0.875rem;
            color: var(--text-secondary);
            text-transform: uppercase;

            svg {
                height: 1rem;
                width: 1rem;
            }

            &:hover {
                color: var(--text-primary);
                transition: 250ms ease-in-out;
            }
        }

        &:has(:hover) :not(:hover).footer-link {
            opacity: 0.5;
            filter: blur(1px);
            transition: 250ms ease-in-out;
        }
    }
}